on early-init
    setprop sys.usb.configfs 1

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Mount vendor early for crypto HALs
    mount ext4 /dev/block/bootdevice/by-name/vendor /vendor ro barrier=1

on post-fs
    # Load kernel modules needed for crypto
    start insmod_sh

on property:ro.crypto.state=encrypted
    start qseecomd

on property:ro.crypto.state=unencrypted
    stop qseecomd

service qseecomd /vendor/bin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service-qti
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listeners.registered=true
    start keymaster-4-0
    start gatekeeper-1-0
